<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true">

    <ul class="uk-slider-items uk-grid" routerLink="/list">
        <li class="uk-width-1-3@m">
            <div class="uk-panel">
                <img data-src="./assets/shirt.jpg" alt="" width="400" height="400" uk-img>
            </div>
        </li>
        <li class="uk-width-1-3@m">
            <div class="uk-panel">
                <img data-src="./assets/flock.jpg" alt="" width="400" height="400"  uk-img>
            </div>
        </li>
        <li class="uk-width-1-3@m">
            <div class="uk-panel">
                <img data-src="./assets/onepeice.jpg" alt="" width="400" height="400" uk-img>
            </div>
        </li>
        <li class="uk-width-1-3@m">
            <div class="uk-panel">
                <img data-src="./assets/skirt.jpg" alt="" width="400" height="400" uk-img>
                
            </div>
        </li>
        <li class="uk-width-1-3@m">
            <div class="uk-panel">
                <img data-src="./assets/formal.jpg"  alt="" width="400" height="400" uk-img>
            </div>
        </li>
    </ul>

    <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
</div>
<button class="uk-button uk-float-left uk-margin-medium-top uk-button-secondary shop" routerLink="/list">Shop Now</button>

<button class="uk-button uk-float-right uk-margin-medium-right uk-margin-xlarge-top uk-button-secondary" routerLink="/list">See All</button>

<div class="uk-grid-large uk-margin-auto-left uk-margin-xlarge-top" uk-grid>
        <div *ngFor="let product of productDetail">
            <div class="uk-card uk-card-small uk-card-default uk-box-shadow-hover-large">
                <div class="uk-card-media-top">
                    <img [src]="product.productImageUrl" alt="">
                </div>
                <div class="uk-card-body uk-card-secondary">
                    <h3 class="uk-card-title">{{ product.productName}}</h3>
                    <p>{{ product.productDesc}}</p>
                    <p>{{ product.productPrice | currency }}</p>
                </div>
            </div>
        </div>
